In [6]:
import contextlib
import csv
import datetime
import os
import pymysql


TRANSCATIONS_SQL_QUERY = """SELECT * FROM Doctordetails""";


connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='project_database')

with contextlib.closing(connection):
    with connection.cursor() as cursor:


        cursor.execute(TRANSCATIONS_SQL_QUERY)
        transcations_result = cursor.fetchall()




transcations_output_file = 'Doctordetails.csv'
with open(transcations_output_file, 'w', newline='') as csvfile:
    
    csv_writer = csv.writer(csvfile, lineterminator='\n')
    csv_writer.writerows(transcations_result)

In [7]:
import csv
import pandas as pd

csv_columns = [  "postId", "doctorId", "realName", "department", "address", "locationLat" , "locationLong" , "location", "OpenTime", "closeTime" , "postTime" ]

df = pd.read_csv("Doctordetails.csv", names=csv_columns)
print(df)
df.to_csv (r'neo4j_doctor.csv', index = False, header=True)
os.remove("Doctordetails.csv")

    postId  doctorId                     realName  \
0        1         2       Dr. Sue Kafali-Nazarof
1        2         5            Dr. Ming Li Tsang
2        3         9           Dr. Ryan M Siewert
3        4         7            Dr. Brynna Connor
4        5        11             Dr. Milton Waner
5        6        12      Dr. David J. Benditzson
6        7        13          Dr. Shirish N. Shah
7        8        14                Dr. Adrian Ma
8        9        15         Dr. Russell O. Schub
9       10        16        Dr. March E. Seabrook
10      11        17              Mark W. Galland
11      12        18            Dr. Jon J. Warner
12      13        19          Dr. Peter Steinberg
13      14        20             Dr. Robert Oates
14      15        21            Dr. Edward Zoltan
15      16        22               Dr. Ken Moadel
16      17        23          Dr. Jacqueline Wong
17      18        24          Dr. John H. Wilkins
18      19        27    Dr. Nayantara Seneviratne
19      20        26            Jennifer N. Ouchi
20      21        25                  Erin McCann
21      22        28        Dr. Chienying Liu, MD
22      23        29  Dr. Sujani G. Surakanti, MD
23      24        30           Elizondo Joseph MD
24      25        31        Dr. Mark S. Rosen, MD
25      26        32              Ayman Layka, MD
26      27        33        Wohlfeiler Michael MD
27      28        34   Dr. Gerald H. Watanabe, MD
28      29        35             Dr. Kore Liow MD
29      30        36              Cho Jonathan MD

                                department  \
0           gynecologic & cosmetic surgeon
1                          Family Medicine
2                          Family Medicine
3                          Family Medicine
4   hemangiomas and vascular malformations
5                             Primary Care
6                              Cardiology
7                          Cardiovascular
8                         Gastroenterology
9                         Gastroenterology
10                             Orthopedics
11                             Orthopedics
12                                 Urology
13                                 Urology
14                                 Urology
15                           Ophthalmology
16                           Ophthalmology
17                           Ophthalmology
18                        Endocrinologists
19                        Endocrinologists
20                        Endocrinologists
21                        Endocrinologists
22                           Hematologists
23                              Internists
24                           Nephrologists
25                           Nephrologists
26                              Internists
27                              Internists
28                            Neurologists
29                             Oncologists

                                              address  locationLat  \
0        3000 N Halsted St Ste 720, Chicago, IL 60657    41.936704
1           909 Hyde St #432, San Francisco, CA 94109    37.789371
2             1321 W Dakota Pkwy, Williston, ND 58801    48.155956
3   2911 Medical Arts St Building #10, Austin, TX ...    30.288075
4   210 East 64th Street, 7th Floor, New York City...    40.764072
5        111 N Wabash Ave STE 1412, Chicago, IL 60602    41.883475
6        5600 W Addison St Ste 400, Chicago, IL 60634    41.946091
7     5200 Jose Figueres Ave #215, San Jose, CA 95116    37.361572
8     8875 Centre Park Dr suite d, Columbia, MD 21045    39.228994
9           131 Summer Pl Dr, West Columbia, SC 29169    34.004235
10        11200 Gov Manly Way #309, Raleigh, NC 27614    35.947751
11                      55 Fruit St, Boston, MA 02114    42.362706
12                330 Brookline Ave, Boston, MA 02215    42.339880
13                725 Albany St #3b, Boston, MA 02118    42.334873
14       175 Remsen St 12th floor, Brooklyn, NY 11201    40.693500
15          110 E 40th St Floor 6, New York, NY 10016    40.750412
16  945 Hildebrand Ln NE, Bainbridge Island, WA 98110    47.633619
17         9155 SW Barnes Rd #430, Portland, OR 97225    45.510411
18    2250 Hayes St Ste. 612, San Francisco, CA 94117    37.773151
19               8635 W 3rd St, Los Angeles, CA 90048    34.073960
20            1658 N Milwaukee Ave, Chicago, IL 60647    41.911521
21  400 Parnassus Ave Suite A-550, San Francisco, ...    37.764554
22           1 Gustave L. Levy Pl, New York, NY 10029    40.790008
23          6835 Austin Center Blvd, Austin, TX 78731    30.351273
24  3000 N Interstate 35 Frontage Rd, Austin, TX 7...    30.288464
25          4302 Alton Rd #400, Miami Beach, FL 33140    25.814047
26               4308 Alton Rd, Miami Beach, FL 33140    25.814881
27       321 N Kuakini St STE 802, Honolulu, HI 96817    21.321549
28          1329 Lusitana St #307, Honolulu, HI 96813    21.307609
29         9155 SW Barnes Rd #430, Portland, OR 97225    45.510411

    locationLong               location  OpenTime closeTime    postTime
0     -87.651939            Chicago, IL  09:00:00  17:00:00  2020-08-30
1    -122.419444      San Francisco, CA  08:00:00  17:30:00  2020-09-03
2    -103.653038          Williston, ND  09:30:00  17:30:00  2020-09-05
3     -97.729507             Austin, TX  08:00:00  17:30:00  2020-09-05
4     -73.965504      New York City, NY  08:15:00  16:30:00  2020-09-06
5     -87.627943            Chicago, IL  09:30:00  16:30:00  2020-09-12
6     -87.769331            Chicago, IL  09:00:00  17:30:00  2020-09-12
7    -121.852416           San Jose, CA  08:00:00  15:30:00  2020-09-15
8     -76.815674           Columbia, MD  10:00:00  16:00:00  2020-09-20
9     -81.123183      West Columbia, SC  08:00:00  17:00:00  2020-09-22
10    -78.543784            Raleigh, NC  09:00:00  17:30:00  2020-09-27
11    -71.070847             Boston, MA  08:30:00  16:30:00  2020-09-28
12    -71.106747             Boston, MA  08:30:00  16:30:00  2020-10-08
13    -71.074344             Boston, MA  09:30:00  18:30:00  2020-10-09
14    -73.993554           Brooklyn, NY  08:30:00  18:00:00  2020-10-11
15    -73.980187           New York, NY  08:30:00  17:00:00  2020-10-12
16   -122.519927  Bainbridge Island, WA  09:00:00  17:00:00  2020-10-15
17   -122.772308           Portland, OR  09:00:00  14:00:00  2020-10-16
18   -122.455610      San Francisco, CA  08:30:00  16:00:00  2020-10-18
19   -118.383109        Los Angeles, CA  08:30:00  16:00:00  2020-10-19
20    -87.682020            Chicago, IL  09:30:00  16:00:00  2020-10-19
21   -122.459445      San Francisco, CA  09:30:00  17:00:00  2020-10-20
22    -73.955926          New York, NY   09:30:00  16:15:00  2020-10-21
23    -97.752607             Austin, TX  10:00:00  16:00:00  2020-10-21
24    -97.726481             Austin, TX  08:30:00  15:00:00  2020-10-22
25    -80.141869        Miami Beach, FL  09:30:00  15:00:00  2020-10-24
26    -80.142697        Miami Beach, FL  08:30:00  16:00:00  2020-10-25
27   -157.858117           Honolulu, HI  09:30:00  17:00:00  2020-10-26
28   -157.854282             Kailua, HI  08:00:00  17:00:00  2020-10-27
29   -122.772313           Portland, OR  08:30:00  17:30:00  2020-10-28

In [8]:
import contextlib
import csv
import datetime
import os
import pymysql


TRANSCATIONS_SQL_QUERY = """SELECT * FROM Registration""";


connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='project_database')

with contextlib.closing(connection):
    with connection.cursor() as cursor:


        cursor.execute(TRANSCATIONS_SQL_QUERY)
        transcations_result = cursor.fetchall()




transcations_output_file = 'Registration.csv'
with open(transcations_output_file, 'w', newline='') as csvfile:
    
    csv_writer = csv.writer(csvfile, lineterminator='\n')
    csv_writer.writerows(transcations_result)

In [9]:
import csv
import pandas as pd

csv_columns = [  "userId", "userName", "password", "email", "usertype", "address" , "locationLat" , "locationLong", "location" ]

df = pd.read_csv("Registration.csv", names=csv_columns)
print(df)
df.to_csv (r'neo4j_registration.csv', index = False, header=True)
os.remove("Registration.csv")

     userId                          userName password            email  \
0         1                               Tom      tom    tom@gmail.com
1         2                              Bill     bill   bill@gmail.com
2         3                              Lily     lily   lily@gmail.com
3         4                             Jason    jason  jason@gmail.com
4         5                              Ming     ming   ming@gmail.com
..      ...                               ...      ...              ...
116     117                   Point Insurance     1234  gerg4@gmail.com
117     118  Winmore Insurance Solutions LLC.     1234    fd4@gmail.com
118     119               Pro Insurance Group     1234    gd3@gmail.com
119     120                   Eagle Insurance     1234   fdh4@gmail.com
120     121                             admin    admin  admin@gmail.com

              usertype                                            address  \
0             customer  215 West Washington, W Washington St, Chicago,...
1               doctor       3000 N Halsted St Ste 720, Chicago, IL 60657
2             customer               255 King St, San Francisco, CA 94107
3             customer           1700 Newbury Park Dr, San Jose, CA 95133
4               doctor          909 Hyde St #432, San Francisco, CA 94109
..                 ...                                                ...
116  insurance company         1103 Commonwealth Avenue, Boston, MA 02215
117  insurance company             4152 W Armitage Ave, Chicago, IL 60639
118  insurance company      2521 Technology Dr Suite 201, Elgin, IL 60124
119  insurance company                  2433 W 79th St, Chicago, IL 60652
120              admin                  2433 W 79th St, Chicago, IL 60652

     locationLat  locationLong           location
0      41.882858    -87.636347        Chicago, IL
1      41.936704    -87.651939        Chicago, IL
2      37.749589   -122.438102  San Francisco, CA
3      37.375022   -121.865058       San Jose, CA
4      37.789371   -122.419444  San Francisco, CA
..           ...           ...                ...
116    42.351942    -71.125477         Boston, MA
117    41.917378    -87.731106        Chicago, IL
118    42.089852    -88.339264          Elgin, IL
119    41.749888    -87.684234        Chicago, IL
120    41.749888    -87.684234        Chicago, IL

[121 rows x 9 columns]

In [11]:
import contextlib
import csv
import datetime
import os
import pymysql


TRANSCATIONS_SQL_QUERY = """SELECT * FROM Appointment""";


connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='project_database')

with contextlib.closing(connection):
    with connection.cursor() as cursor:


        cursor.execute(TRANSCATIONS_SQL_QUERY)
        transcations_result = cursor.fetchall()




transcations_output_file = 'Appointment.csv'
with open(transcations_output_file, 'w', newline='') as csvfile:
    
    csv_writer = csv.writer(csvfile, lineterminator='\n')
    csv_writer.writerows(transcations_result)

In [12]:
import csv
import pandas as pd

csv_columns = [  "bookId", "providerId", "customerId", "appointmentDate", "appointmentTime" ]

df = pd.read_csv("Appointment.csv", names=csv_columns)
print(df)
df.to_csv (r'neo4j_appointment.csv', index = False, header=True)
os.remove("Appointment.csv")

    bookId  providerId  customerId appointmentDate appointmentTime
0        1           2           1      2020-10-20        10:00:00
1        2           2          10      2020-10-07        15:00:00
2        3           5           3      2020-10-31         9:30:00
3        4           5           3      2020-11-01        13:45:00
4        5           5           6      2020-10-31         9:30:00
5        6           5           2      2020-11-01        13:45:00
6        7           5           3      2020-10-31         9:30:00
7        8           5           6      2020-11-01        13:45:00
8        9           2           3      2020-11-20        10:00:00
9       10           7           8      2020-10-15        10:15:00
10      11           7           6      2020-11-20        10:30:00
11      12           5          10      2020-10-06         9:20:00
12      13           5          10      2020-11-06        14:30:00
13      14           5           8      2020-10-30         9:20:00